.navbar {
  margin-bottom: 20px;
}

/* Style for the right-side navbar icons */
.navbar-nav.navbar-right a img {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  width: 40px; /* Ensure consistent sizing */
  height: 40px;
}

body { padding-top: 70px; }

.Intro {
  margin-top: 80px;
  text-align: center;
}

.column {
  float: left;
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#landing{
    height: 100vh;
    background-image: url('URL to your image here!');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}
#mainText{
    margin-top: 30vh;
}

.page-footer {
  width: 100%;
}

#footer-content {
  background: red;
}
